{% extends 'blog/base.html' %}
{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p>{{ post.post }}</p>
        <ul class="list-group">
            {% for comment in post.comments.all %}
                <div class="position-relative">
                    <li class="list-group-item my-2 border-0 border-bottom">
                        <p class="my-1"><b class="me-3"> {{ comment.user }}</b> {{ comment.created_at }}</p>
                        {% if user.is_authenticated and comment.user == user %}
                            <a class="link-secondary text-decoration-none position-absolute end-0 top-0"
                               href="{% url 'blog_delete_comment' slug=comment.slug %}">
                                <i class="bi bi-trash m-2"></i></a>
                        {% endif %}
                        {{ comment.comment }}
                    </li>
                </div>
            {% endfor %}
        </ul>
        {% if form and user.is_authenticated %}
            <form class="my-3" action="{% url 'blog_post_url' slug=post.slug %}" method="post">
                <div class="form-row">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary mt-2">Отправить</button>
                </div>
            </form>
        {% endif %}
    </article>
{% endblock %}